
/*index.php*/
body
{
    background-color: #faf9f8;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:15px 20px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff0000;
    color: white;
    text-align: center;

}
.imgprod
{
    display: flex;
}
.detailproduit
{
    margin: 0 20px 0 20px;
    padding: 10px;
    display: flex;
    flex-grow:1;
    width: 50%;
    border: 1px solid red;
}

.vitrine-titre{
    font-size: 50px;
text-align: center;
}

.vitrine
{
    margin-left: 5%;
    margin-top: 10%;
}

.connexion{
    margin-left: 45%;
    margin-top: 15%;
    position: relative;
}

.formulaireinscription{
    margin-left: 45%;
    margin-top: 10%;
}

.galerie
{
    margin-right : 500px;
}

